* text=auto

# cleanup exported zip
docs/* export-ignore
.gitignore export-ignore
.gitattributes export-ignore

# Make sure we are not marked as a JavaScript project
public/sentry-browser-*.js linguist-vendored
