* text=auto

# cleanup exported zip
bin export-ignore
docs export-ignore
.github export-ignore
.gitignore export-ignore
.gitattributes export-ignore
scoper.inc.php export-ignore
release-exclude.txt export-ignore

# Make sure we are not marked as a JavaScript project
public/*.min.js linguist-vendored
