* text=auto

# cleanup exported zip
.github export-ignore
bin export-ignore
docs export-ignore
.gitignore export-ignore
.gitattributes export-ignore
release-exclude.txt export-ignore
scoper.inc.php export-ignore

# Make sure we are not marked as a JavaScript project
public/sentry-browser-*.js linguist-vendored
